.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
.DS_Store
.RDataTmp1
.Renviron
.DS_Store
*.zip
/Results_cache/html
/Results_cache
Results_cache/html/__packages
/Results_files
/Results_files/figure-html
/Results_cache
/Results_files/figure-html
Results_files/figure-html/unnamed-chunk-6-2.png
Results_files/figure-html/unnamed-chunk-6-3.png
Results_files/figure-html/unnamed-chunk-6-2.png
Results_files/figure-html/unnamed-chunk-6-4.png
Results_cache/html/__packages
/QCEW
data/production_coal/Mines.txt
