.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
.DS_Store
.RDataTmp1
.Renviron
.DS_Store
*.zip
/Results_cache/html
/Results_cache
Results_cache/html/__packages
/Results_files
/Results_files/figure-html
/Results_cache
/Results_files/figure-html
